In [34]:
import pandas as pd
filepath = 'PycharmProjects/pythonPractise/jupyter/recommend/163music/playlist.txt'
dfplaylist = pd.read_csv(filepath, encoding = 'utf8', sep = ":::")

print(dfplaylist.shape)
dfplaylist.head(2)

/Users/xujianhui/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(55485, 13)

,id,name,description,highQuality,commentCount,playCount,shareCount,subscribedCount,trackCount,updateTime,userId,tags,musiclist
0,423245641,The Best Crew,Let's enjoy the sunshine afternoon with wonder...,False,621,705665,214,11355,30,1469089663541,42689902,"['欧美', '电子', '另类/独立']","414691355,410802620,419549837,419485281,412016..."
1,111450065,Pastel reflections 温柔再现,现在是一年中最美好的时节，世界上很多地方都不冷不热，有湛蓝的天空和清冽的空气，正是出游的好时...,False,227,687070,149,10882,120,1460164523907,39256799,"['旅行', '钢琴', '安静']","29738501,33544451,82159,27902104,31134629,2543..."

In [35]:
# 去除无意义的列表，同时确保musiclist均为有效字符串
dfplaylist = dfplaylist[dfplaylist.trackCount >1]
dfplaylist.shape

(55373, 13)

In [36]:
# 去除重复ID的记录
dfplaylist.drop_duplicates(subset = 'id', inplace = True)
dfplaylist['id'] = dfplaylist.id.astype('str')
dfplaylist['userId'] = dfplaylist.userId.astype('str')
dfplaylist.shape

(55371, 13)

In [37]:
# 将音乐列表转换为list格式
dfplaylist.musiclist = dfplaylist.musiclist.apply(lambda x: x.split(","))
dfplaylist.head(2)

,id,name,description,highQuality,commentCount,playCount,shareCount,subscribedCount,trackCount,updateTime,userId,tags,musiclist
0,423245641,The Best Crew,Let's enjoy the sunshine afternoon with wonder...,False,621,705665,214,11355,30,1469089663541,42689902,"['欧美', '电子', '另类/独立']","[414691355, 410802620, 419549837, 419485281, 4..."
1,111450065,Pastel reflections 温柔再现,现在是一年中最美好的时节，世界上很多地方都不冷不热，有湛蓝的天空和清冽的空气，正是出游的好时...,False,227,687070,149,10882,120,1460164523907,39256799,"['旅行', '钢琴', '安静']","[29738501, 33544451, 82159, 27902104, 31134629..."

In [38]:
# 将tags字符串转换为list格式
dfplaylist.tags = dfplaylist.tags.apply(lambda x: x[1:-1].replace("'","").split(", "))
dfplaylist.head(2)

,id,name,description,highQuality,commentCount,playCount,shareCount,subscribedCount,trackCount,updateTime,userId,tags,musiclist
0,423245641,The Best Crew,Let's enjoy the sunshine afternoon with wonder...,False,621,705665,214,11355,30,1469089663541,42689902,"[欧美, 电子, 另类/独立]","[414691355, 410802620, 419549837, 419485281, 4..."
1,111450065,Pastel reflections 温柔再现,现在是一年中最美好的时节，世界上很多地方都不冷不热，有湛蓝的天空和清冽的空气，正是出游的好时...,False,227,687070,149,10882,120,1460164523907,39256799,"[旅行, 钢琴, 安静]","[29738501, 33544451, 82159, 27902104, 31134629..."